<div class="ui container" [appTelemetryImpression]="telemetryImpression">
    <form novalidate>
        <div class="ui grid stackable top aligned my-0">
            <div class="twelve wide tablet ten wide computer column mobile-p-0">
                <div class="ui grid pl-5">
                    <div class="six wide column">
                        <div class="ui text menu float-ContentLeft my-0" style="min-height: 0;">
                            <span class="dashBoardMenuItem cursor-pointer active"
                                (click)="getContentCreationStaticsReport('14d')"
                                [ngClass]="{'active': selectedDateRange === '14d' }" appTelemetryInteract
                                [telemetryInteractObject]="interactObject"
                                [telemetryInteractEdata]="{id:'14d',type:'click',pageid:'content-creation-dashboard'}">
                                {{resourceService?.frmelmnts?.lbl?.dashboardfourteendaysfilter}}
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="dashBoardMenuItem cursor-pointer"
                                (click)="getContentCreationStaticsReport('2m')"
                                [ngClass]="{'active': selectedDateRange === '2m' }" appTelemetryInteract
                                [telemetryInteractObject]="interactObject"
                                [telemetryInteractEdata]="{id:'2m',type:'click',pageid:'content-creation-dashboard'}">
                                {{resourceService?.frmelmnts?.lbl?.dashboardtwomonthsfilter}}
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="dashBoardMenuItem cursor-pointer"
                                (click)="getContentCreationStaticsReport('6m')"
                                [ngClass]="{'active': selectedDateRange === '6m' }" appTelemetryInteract
                                [telemetryInteractObject]="interactObject"
                                [telemetryInteractEdata]="{id:'6m',type:'click',pageid:'content-creation-dashboard'}">
                                {{resourceService?.frmelmnts?.lbl?.dashboardsixmonthsfilter}}
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <!-- <div class="ui grid">
                    <div class="six wide mobile three wide tablet three wide computer column my-10">
                        <div class="field">
                            <label>From Date</label>
                            <div class="mt-10" style="cursor: pointer">
                                <p-calendar [(ngModel)]="fromDate" [showIcon]=true placeholder="Choose From Date"
                                    [maxDate]="currentDate" [ngModelOptions]="{standalone: true}"
                                    [readonlyInput]="true">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="six wide mobile three wide tablet three wide computer column my-10">
                        <div class="field">
                            <label>To Date</label>
                            <div class="mt-10" style="cursor: pointer">
                                <p-calendar [(ngModel)]="toDate" [showIcon]=true placeholder="Choose To Date"
                                    [maxDate]="currentDate" [ngModelOptions]="{standalone: true}"
                                    [readonlyInput]="true">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                    <div
                        class="twelve wide tablet two wide computer right aligned top aligned column filter-button my-13">
                        <label class="computer-only mb-5">&nbsp;</label>
                        <button type="button" class="ui orange button"
                            (click)="getContentCreationStaticsReport();">{{resourceService.frmelmnts?.btn?.submit}}</button>
                        <button type="button" class="ui orange basic button ml-10"
                            (click)="resetFields();">{{resourceService.frmelmnts?.btn?.reset}}</button>
                    </div>
                </div> -->
            </div>
        </div>
    </form>
    <div class="ui grid" *ngIf="!noResult && tableData.length > 0">
        <div class="userDetailsBlockSection">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="userDetailsBlockCard mt-20 mb-20 ml-20"
                    *ngFor="let block of polarChartData?.datasets[0].data;let i=index"
                    [class.active]="polarChartData.labels[i] === selectedCategory"
                    (click)="filterCreationData(polarChartData.labels[i])">
                    <div class="content center aligned">
                        <h2 class="description dashboardCardSubText">{{block}}</h2>
                        <div class="meta dashBoardCardText">{{polarChartData.labels[i]}}</div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <!-- <div class="ui grid" *ngIf="!noResult && tableData.length > 0">
        <div class="twelve wide column">
            <div class="ui four cards">
                <div class="card" *ngFor="let block of polarChartData?.datasets[0].data;let i=index"
                    [class.active]="polarChartData.labels[i] === selectedCategory" style="cursor: pointer;height: 85px;"
                    (click)="filterCreationData(polarChartData.labels[i])">
                    <div class="content center aligned">
                        <h2 class="description dashboardCardSubText" style="line-height: 20px;">{{block}}</h2>
                        <div class="meta dashBoardCardText" style="font-size: 0.9em;">{{polarChartData.labels[i]}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="ui grid" *ngIf="!noResult && tableData.length > 0">
        <div class="twelve wide column">
            <p-chart type="polarArea" [data]="polarChartData" [options]="polarChartOptions" height="300px"></p-chart>
        </div>
    </div>
    <div class="ui grid" *ngIf="!noResult && selectedTableData.length > 0">
        <div class="twelve wide column">
            <p-table #dt [value]="selectedTableData" [columns]="cols" [paginator]="true" [rows]="15"
                [resizableColumns]="true">
                <ng-template pTemplate="caption">
                    <div class="ui small left icon input" style="float: left">
                        <i class="search icon"></i>
                        <input type="text" pInputText placeholder="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: 210px;">
                    </div>
                    <div class="ui-helper-clearfix">
                        <button type="button" pButton icon="fa fa-file" iconPos="left" label="Export"
                            (click)="dt.exportCSV()" style="float:right"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" pResizableColumn [style.width]="col.width">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div *ngIf="noResult || selectedTableData.length === 0">
        <app-no-result [data]="noResultMessage"></app-no-result>
    </div>
</div>