.ui-table.ui-widget.ui-table-resizable.ui-table-resizable-fit {
    font-size:11px !important;
}
span.ui-button-text.ui-clickable {
    font-size: 11px;
}
a.ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ui-state-active {
    background-color: #f2711c !important;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left {
    background-color: #f2711c !important;
    border:1px solid #f2711c !important;
}